<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
<h1 th:text="'Owners search result'">Search results</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">Joe</td>
        <td th:text="${owner.lastName}">Buck</td>
        <td th:text="${owner.address}">simple address</td>
        <td><a th:href="@{/owners/{ownerId}(ownerId=${owner.id})}">Details</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>